.wrap
  .current_instances
    %h2
      Current Instances
    %table.table
      %tr
        %th
          name
        %th
          host machine ip
        %th
          guest machine ip
        %th
          status
        %th
          last update
      - instances.each do |instance|
        %tr
          %td
            = instance.name
          %td
            = instance.host_ip
          %td
            = instance.guest_ip
          %td
            = instance.status
          %td
            = instance.updated
  %p
    %span= start_ip
    %span
      \~
    %span= end_ip

  %form{action:'/instances', method:'POST'}
    %h2
      Create new instance
    name:
    %input{type: 'text', name:'name'}
    keypair:
    %select{name:'keypair'}
      - sshkeys.each do |key|
        %option{value:key.id}
          = key.name
    %input{type:'submit'}
    %input{type:'hidden',name:'operation',value:'create'}

  %form{action:'/instances', method:'POST'}
    %h2
      Start instance
    name:
    %input{type: 'text', name:'name'}
    %input{type:'submit'}
    %input{type:'hidden',name:'operation',value:'start'}

  %form{action:'/instances', method:'POST'}
    %h2
      Stop instance
    name:
    %input{type: 'text', name:'name'}
    %input{type:'submit'}
    %input{type:'hidden',name:'operation',value:'stop'}

  %form{action:'/instances', method:'POST'}
    %h2
      Delete instance
    name:
    %input{name:'name'}
    %input{type:'submit'}
    %input{type:'hidden', name:'_method', value:'DELETE'}
